# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/target
/local

# IDEs
# NetBeans
/nbproject
# IntelliJ
/.idea
/*.ipr
/*.iws
/*.iml
# Visual Studio Code
/.vscode

# Repository wide ignore mac DS_Store files
.DS_Store
