# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules
# frontend-maven-plugin
/node

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SonarQube Scanner working dir
# Runs on Travis but can be run locally with npx (see travis-sonarcloud.sh)
/.scannerwork

/target
/local

# Eclipse
/.project

# IntelliJ
/.idea
/*.ipr
/*.iws
/*.iml

# NetBeans
/nbproject

# Visual Studio Code
/.vscode
