# See https://help.github.com/ignore-files/ for more about ignoring files.

/target
/local

# dependencies
/node_modules
# frontend-maven-plugin
/node

# testing
/coverage

# production
/build

# .env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SonarQube Scanner working dir
# Runs on Travis but can be run locally with npx (see travis-sonarcloud.sh)
/.scannerwork
