!.mvn/wrapper/maven-wrapper.jar

/target


# IntelliJ
/.idea
/*.ipr
/*.iws
/*.iml

# NetBeans
/nbproject

# STS (Spring Tools Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# OpenStreetMap data
local/**/*.osm.pbf
!local/openstreetmap/_placehere.osm.pbf.txt