!.mvn/wrapper/maven-wrapper.jar

/target


# IntelliJ
/.idea
/*.ipr
/*.iws
/*.iml

# NetBeans
/nbproject

# STS (Spring Tools Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# Preserve initial folder structure for OpenStreetMap

local/*
!local/openstreetmap
local/openstreetmap/*
!local/openstreetmap/.gitkeep