<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-30(%d{HH:mm:ss.SSS} [%.15thread]) %highlight(%-5level) %36.36logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- To override the debug log level from the command line, use the VM option "-Dlogback.level.org.optaplanner=trace" -->
  <logger name="org.optaplanner" level="${logback.level.org.optaplanner:-info}"/>

  <root level="info">
    <appender-ref ref="consoleAppender"/>
  </root>

</configuration>
