name: Build Chain

on: [pull_request]

jobs:
  build-chain:
    concurrency:
      group: pull_request-${{ github.head_ref }}
      cancel-in-progress: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java-version: [11]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Maven Build
    steps:
      - name: Support longpaths
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true
      - name: Free disk space
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          docker rmi $(docker image ls -aq)
          df -h
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      # See https://docs.github.com/en/actions/guides/building-and-testing-java-with-maven#caching-dependencies
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build Chain ${{ matrix.java-version }}
        id: build-chain
        uses: kiegroup/github-action-build-chain@v2.6.4
        with:
          # OptaWeb has a different branching model than the rest of KIE. Every OptaWeb 8.x branch maps to master branch
          # in KIE, therefore "master" is hard-coded in the URL below. Once the branching model is unified and there is
          # a matching branch in KIE for each 8.x (or higher) branch in OptaWeb, replace "master" with "${BRANCH}".
          definition-file: https://raw.githubusercontent.com/${GROUP}/droolsjbpm-build-bootstrap/master/.ci/pull-request-config.yaml
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
